@use '@carbon/styles' with (
  $prefix: 'bx'
);

// for $white, $g10, $g90, $g100
@use '@carbon/styles/scss/themes' as *;

// for mixin
@use '@carbon/styles/scss/theme' as *;

// for $spacing-xx
@use '@carbon/styles/scss/spacing' as *;

// Themes
.carbon-theme--white {
  @include theme($white);
}

[data-carbon-theme='g10'],
.carbon-theme--g10 {
  @include theme($g10);
}

[data-carbon-theme='g90'],
.carbon-theme--g90 {
  @include theme($g90);
}

[data-carbon-theme='g100'],
.carbon-theme--g100 {
  @include theme($g100);
}

// set default color and background for stories
.cv-vue-3 {
  padding: $spacing-09;
  background-color: $background;
  color: $text-primary;
}

/**
  Override used for modals in any .mdx preview block.
  storybook generates preview blocks with a surrounding div with style="position: relative; z-index: 0;"
  this causes style problems for modals when not using react portals.
  modals in mdx files should now be formatted like this to prevent z-index issues
*/
// stylelint-disable-next-line
.preview-position--fix > div {
  position: static !important; /* stylelint-disable-line declaration-no-important */
}
